@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

$app-font: 'Lato', sans-serif;

$title: 400 2.5rem $app-font;
$headline1: 300 2rem $app-font;
$headline2: 400 2rem $app-font;
$headline3: 300 1.25rem $app-font;
$headline4: 400 1.25rem $app-font;
$headline5: 300 1rem $app-font;
$headline6: 400 1rem $app-font;
